<div class="layout">
  <h3 class="title">Algunos conceptos con Bilbo</h3>
  <div class="subtitle font-primary mb-4">fast forward</div>
  <div class="text">
    Sucede cuando en un merge no hay divergencias y git solo tiene que apuntar
    'hacia delante' en la rama
  </div>
  <img style="height: 750px" src="assets/images/fast-forward.svg" alt="" />

  <div class="subtitle font-primary my-4">Push --force</div>
  <img
    class="mb-5"
    src="assets/images/aragorn-force.gif"
    style="width: 450px"
    alt=""
  />
  <div class="text mb-4">
    hace que la rama del repositorio remoto coincida con la local, y se eliminan
    así todos los cambios en el repositorio remoto que se hayan producido desde
    que realizaste la última incorporación de cambios
  </div>
  <div class="text">
    Se comenta que puede ser util con AMEND / REBASE INTERACTIVO ❔
  </div>
  <div class="subtitle my-4">Fork</div>
  <div class="text">
    A fork is a copy of a repository. Forking a repository allows you to freely
    experiment with changes without affecting the original project.
  </div>
  <img
    src="assets/images/fork.png"
    style="height: 200px; width: 200px"
    alt=""
  />
  <div class="subtitle my-4">Submodulos de Git ⁉️</div>
  <div class="text">
    Los submódulos de Git permiten mantener un repositorio de Git como
    subdirectorio de otro repositorio de Git
  </div>
  <div class="text">
    . Con submódulos de Git, un repositorio de Git puede incorporar y rastrear
    el historial de versiones de código externo.
  </div>
</div>
