/* You can add global styles to this
 file, and also import other style files */

 @font-face {
    font-family: 'Primary';
    src: url('../src/assets/fonts/RINGM___.TTF') format('truetype');
}

html {
    background-color: #955757;
    font-family: 'Primary';
}

