<div class="layout p-5">
  <h3 class="title">Algunas bases con Gimli</h3>
  <div class="subtitle font-primary mb-4">
    Working Area - Staging Area - Repo ( LOS TRES ARBOLES )
  </div>
  <div class="text">
    <span> Workig area</span>: This area is also known as the “untracked” area
    of git
  </div>
  <div class="text">Vivir sin VSC parte 1</div>
  <div class="text">
    Te devuelve los archivos modificados y en staging area (veremos como
    consultar cambios en fichero)
  </div>
  <div class="code my-3">git status</div>
  <div class="text">
    <span> Staging area</span>: The Staging Area is when git starts tracking and
    saving changes that occur in files
  </div>
  <div class="text"><span> Repositoty</span>: Pues el repo con los commits</div>
  <img
    class="my-5"
    style="height: 300px; width: 400px"
    src="assets/images/git-gud.png"
    alt=""
  />
  <div class="subtitle font-primary mt-4">git add</div>
  <img class="mt-4" src="assets/images/git-add.png" alt="" />
</div>
