<div class="layout p-5">
    <h3 class="text-light mb-5 text-center">Aprende GIT con ESDLA</h3>

    <div *ngFor="let character of characters" class="characters">
        <app-character-card [character]="character"></app-character-card>
    </div>
    <hr>
    <div class="info-block bases-gimli">
        <h3 class="title">Algunas bases con Gimli</h3>
        <div class="subtitle font-primary">Working Area - Staging Area - Repo</div>
            <img class="mt-4" src="assets/images/git-gud.png" alt="">
            <img src="assets/images/git-add.png" alt="">
        
    </div>
</div>