.layout {
    background-color: #955757;
    color: white;
    font-family: 'Primary';
}

    .info-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .title {
            margin-top: 3rem;
            font-size: 26px;

        }

        .subtitle {
            margin-top: 1rem;
            font-size: 22px;
        }
        img{
        width: 50%;
        margin-top: 100px;
        }
    }
    code{
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    }