<div class="layout p-5">
    <h3 class="text-light mb-5 text-center">Aprende GIT Avanzado con ESDLA</h3>
    <h3 class="title my-3">Capítulos</h3>
    <div class="characters-container d-flex flex-wrap">
        <div *ngFor="let character of characters" class="character mx-3">
            <app-character-card [character]="character"></app-character-card>
        </div>
    </div>
    <hr class="my-5">
    <div class="info-block bases-gimli">
        <h3 class="title">Algunos conceptos con Bilbo</h3>
        <div class="subtitle font-primary mb-4">fast forward</div>
        <div class="text">Sucede cuando en un merge no hay divergencias y git solo tiene que apuntar 'hacia delante' en
            la rama</div>
        <img style="height:750px;" src="assets/images/fast-forward.svg" alt="">

        <div class="subtitle font-primary">Working Area - Staging Area - Repo</div>
        <img class="mt-4" src="assets/images/git-gud.png" alt="">
        <img src="assets/images/git-add.png" alt="">

        <div class="subtitle font-primary my-4">Push --force</div>
        <img class="mb-5" src="assets/images/aragorn-force.gif" style="width: 450px;" alt="">
        <div class="text mb-4">hace que la rama del repositorio remoto coincida con la local, y
            se eliminan así todos los
            cambios en el repositorio remoto que se hayan producido desde que realizaste la última incorporación de
            cambios</div>
        <div class="text"> Se comenta que puede ser util con AMEND / REBASE INTERACTIVO ❔</div>
        <div class="subtitle my-4">Fork</div>
        <div class="text">A fork is a copy of a repository. Forking a repository allows you to freely experiment with
            changes without affecting the original project.</div>
        <img src="assets/images/fork.png" style="height:200px;width:200px;" alt="">
        <div class="subtitle my-4">Submodulos de Git ⁉️</div>
        <div class="text">Los submódulos de Git permiten mantener un repositorio de Git como subdirectorio de otro repositorio de Git</div>
        <div class="text">. Con submódulos de Git, un repositorio de Git puede incorporar y rastrear el historial de versiones de código externo.</div>
    </div>
    <hr>
    <div class="info-block trucos-frodo">
        <h3 class="title">Trucos con Frodo</h3>
        <div class="subtitle font-primary mb-4">Comandos Terminal</div>
        <div class="text mb-3">sobrevivir sin vsc parte ii</div>
        <code>
                git diff myfile.txt
            </code>
        <div class="text mt-2"> Nos muestra los cambios guardados en un archivo concreto</div>
        <div class="subtitle font-primary mb-4">Amend</div>
        <code>
            git commit --amend
        </code>
        <div class="text mt-2"> Te permite combinar los cambios preparados con el commit anterior en lugar de crear un
            commit nuevo</div>
        <div class="text mt-2"> También puede usarse para editar el anterior mensaje del commit sin cambiar la
            instantánea</div>
        <div class="text mt-2"> El commit corregido será una entidad nueva con su propia referencia</div>
        <div class="subtitle font-primary mb-4">Squash</div>
        <img class="mb-5" src="assets/images/squash.png" alt="" style="height:200px ;width:200px">
        <div class="text mt-2"> Nos permite combinar los últimos commits en uno solo</div>
        <div class="text mt-2"> Va asociado al git rebase interactivo (más adelante con Gandalf)</div>
        <code class="mt-3">
             git rebase -i HEAD~3
        </code>
        <img class="my-3" src="assets/images/git-gud.png" alt="">
        <div class="subtitle font-primary mb-3">git add</div>
        <img src="assets/images/git-add.png" alt="">

    </div>
    
    <hr class="my-5">

    <div class="info-block rebase-gandalf">
        <h3 class="title">Rebase con Gandalf</h3>
        <div class="text mb-5">Es el proceso de mover o combinar una secuencia de confirmaciones en una nueva
            confirmación base.</div>
        <div class="text mb-3">Alternativa principal a git merge</div>
        <img src="assets/images/rebase.svg" alt="">
        <div class="subtitle font-primary mb-3">Beneficios Rebase</div>
        <div class="text mb-5">El motivo principal por el que llevar a cabo una fusión mediante cambio de base es para
            mantener un historial del proyecto lineal</div>
        <img src="assets/images/gadalfgif.gif" alt="">
        <div class="subtitle font-primary mb-3">Y que más dará tener el historial limpio?</div>
        <div class="text mb-5"> - Claridad cuando usamos git log <br> - Beneficios a la hora de operaciones de regresión
            (más
            adelante con Sauron)</div>
        <div class="subtitle font-primary mb-3">⛔️ No reorganices el historial público ⛔️</div>
        <div class="text mb-5">La fusión mediante cambio de base sustituiría las confirmaciones antiguas por las nuevas
            y
            parecerá que esa parte del historial de tu proyecto se ha desvanecido de repente</div>

        <div class="title font-primary mb-3">Rebase interactivo --i</div>
        <div class="text mb-5">Se abre un editor en el que puedes introducir comandos (descritos a continuación) para
            cada
            confirmación que se fusiona mediante cambio de base</div>
        <div class="bg-dark text-light p-5 mb-5">
            Rebase 2cf755d..ee2adc2 onto 2cf755d (9 commands) <br>
            Commands:<br>
            p, pick = use commit<br>
            r, reword = use commit, but edit the commit message<br>
            e, edit = use commit, but stop for amending<br>
            s, squash = use commit, but meld into previous commit<br>
            f, fixup = like "squash", but discard this commit's log message<br>
            x, exec = run command (the rest of the line) using shell<br>
            d, drop = remove commit<br>
        </div>
        <div class="text">Parece que Fork tiene una interfaz preparada para este comando</div>
        <img class="my-5" src="assets/images/fork-rebase.png" alt="">
        <div class="text hilight">Esto les da la oportunidad de combinar confirmaciones insignificantes, eliminar las obsoletas
            y asegurarse de que todo lo demás está en orden</div>
    </div>

</div>