<div class="layout">
  <h3 class="title">Trucos con Frodo</h3>
  <div class="subtitle font-primary mb-4">Comandos Terminal</div>
  <div class="text mb-3">sobrevivir sin vsc parte ii</div>
  <div class="code"> git diff myfile.txt </div>
  <div class="text mt-2">
    Nos muestra los cambios guardados en un archivo concreto
  </div>
  <div class="subtitle font-primary mb-4">Amend</div>
  <div class="code"> git commit --amend </div>
  <div class="text mt-2">
    Te permite combinar los cambios preparados con el commit anterior en lugar
    de crear un commit nuevo
  </div>
  <div class="text mt-2">
    También puede usarse para editar el anterior mensaje del commit sin cambiar
    la instantánea
  </div>
  <div class="text mt-2">
    El commit corregido será una entidad nueva con su propia referencia
  </div>
  <div class="subtitle font-primary mb-4">Squash</div>
  <img
    class="mb-5"
    src="assets/images/squash.png"
    alt=""
    style="height: 200px; width: 200px"
  />
  <div class="text mt-2">
    Nos permite combinar los últimos commits en uno solo
  </div>
  <div class="text mt-2">
    Va asociado al git rebase interactivo (más adelante con Gandalf)
  </div>
</div>
